.main-header .main-header {
  width: 100%;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 5000;
  padding: 10px 0;
}

.main-header .logo {
  width: 170px;
  display: block;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.main-header .logo {
  width: 170px;
  display: block;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

img, iframe {
  max-width: 100%;
}

.main-header__menu {
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  background: #FED766;
}

.main-header__content {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 660px;
  max-width: 100%;
  padding: 40px 50px;
  padding-left: 120px;
  background: #FED766;
  color: #000;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.2);
  z-index: 2;
  display: none;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.main-header__content .nav {
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
}

.nav-item {
  margin-bottom: 20px;
  -webkit-animation-duration: .375s;
  animation-duration: .375s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.main-header__content .nav a {
  position: relative;
  font-family: "PMNCaeciliaSans Text W04 Blk",sans-serif;
  font-size: 2.75em;
  color: #000;
}

.inline {
  display: inline-block;
  margin-right: 20px;
}

.main-header__content .inline {
  -webkit-animation-duration: .375s;
  animation-duration: .375s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
  display: -webkit-inline-box;
  display: inline-flex;
  float: left;
}

.inline li {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-right: 20px;
}

.inline li:last-of-type {
  margin-right: 0;
}

.nav a {
  position: relative;
  font-family: 'Oswald';
  font-size: 1.2em;
  color: #000;
}

.main-header__content .callout-link {
  -webkit-animation-duration: .375s;
  animation-duration: .375s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  text-transform: uppercase;
  color: #000;
  display: inline-block;
  font-size: .875em;
  letter-spacing: .05em;
  font-weight: 500;
  position: relative;
  margin-top: -5px;
  margin-left: 55px;
}

.callout-link:before {
  content: "";
  width: 18px;
  height: 13px;
  display: inline-block;
  background: url("laptop.svg") no-repeat;
  margin-right: 1rem;
  color: var(--pink);
}

.callout-link:after {
  content: '';
  width: 60%;
  height: 5px;
  background: url(https://www.usmangroup.com/wp-content/themes/usmangroup/assets/styles/../resources/line-wiggle-black.svg) center center no-repeat;
  background-size: contain;
  position: absolute;
  left: -5%;
  bottom: -15px;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 0rem;
}

